@model IEnumerable<Marccello.Course>

@{
    ViewBag.Title = "Semesters";
}

<h2>Semester @ViewBag.SelectedSemester.term @ViewBag.SelectedSemester.semester_year </h2>
<p># of Courses:  @Model.Count()</p>
@foreach (var m in Model) {
    <p>@m.course_number - @m.name</p>
}
